{% extends 'base.html' %}

{% block content %}
<h1> Welcome &nbsp to &nbsp my &nbsp Contact &nbsp us &nbsp Page </h1>
<h3> Contact &nbsp us &nbsp on : </h3>


<ul>
	<li> Contact no.: 9865321478 </li>
        <li> Email us on : xxx@gmail.com </li><br>
        <p> Follow us on- </p>
        <li><a href="https://www.facebook.com/chirag.shahani.13/">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/chirag-shahani-9aa79216b/"> Linkedin</a></li>
        <li><a href="https://www.instagram.com/chirag__shahani/"> Instagram </a></li>
</ul>




{% endblock %}